html {
    // scroll-behavior: smooth;
}

body {
    background: {
        color: $col-bg;
        // image: url('/images/decoration/wave.svg');
        size: 100% auto;
        repeat: no-repeat;
    }
    color: $col-white;

    &.scroll-lock {
        max-height: 100%;
        overflow: hidden;
    }
}

::selection {
    background-color: $col-green;	
    color: $col-purple--dark;
    opacity: 1;
}

.container {
    padding: {
        left: 20px;
        right: 20px;
    }
    position: relative;
    width: 100%;
    margin: 0 auto;

    @include xs {
        padding: {
            left: 32px;
            right: 32px;
        }
    }

    @include m {
        padding: {
            left: 40px;
            right: 40px;
        }
    }

    @include xxl {
        max-width: 1680px;
    }

    &--v-padding {
        padding: {
            top: 24px;
            bottom: 24px;
        }

        @include xs {
            padding: {
                top: 32px;
                bottom: 32px;
            }
        }

        @include m {
            padding: {
                top: 40px;
                bottom: 40px;
            }
        }
    }
}

main {
    position: relative;
    z-index: 5;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

picture {
    width: 100%;
}