body {
    background: {
        color: $col-bg;
        image: url('/images/decoration/wave.svg');
        size: 100% auto;
        repeat: no-repeat;
    }
    color: $col-white;
    padding: 40px;
}

main {
    position: relative;
    z-index: 5;
}

* {
    box-sizing: border-box;
}