$bp-xxxs: 340px;
$bp-xxs: 480px;
$bp-xs: 600px;
$bp-s: 768px;
$bp-m: 840px;
$bp-l: 1200px;
$bp-xl: 1400px;
$bp-xxl: 1680px;
$bp-xxxl: 1900px;
$bp-infinity: 3200px;

@mixin xxxs {
  @media (min-width: #{$bp-xxxs}) {
      @content;
  }
}

@mixin xxs {
   @media (min-width: #{$bp-xxs}) {
      @content;
  }
}

@mixin xs {
   @media (min-width: #{$bp-xs}) {
      @content;
  }
}

@mixin s {
   @media (min-width: #{$bp-s}) {
      @content;
  }
}

@mixin m {
   @media (min-width: #{$bp-m}) {
      @content;
  }
}

@mixin l {
   @media (min-width: #{$bp-l}) {
      @content;
  }
}

@mixin xl {
   @media (min-width: #{$bp-xl}) {
      @content;
  }
}

@mixin xxl {
   @media (min-width: #{$bp-xxl}) {
      @content;
  }
}

@mixin xxxl {
   @media (min-width: #{$bp-xxxl}) {
      @content;
  }
}

@mixin infinity {
   @media (min-width: #{$bp-infinity}) {
      @content;
  }
}