.case-study {
    &__row {
        margin-bottom: 40px;

        @include m {
            margin-bottom: 80px
        }

        @include l {
            margin-bottom: 120px;
        }

        &--relative {
            position: relative;
        }
    }
}