.case-study {

    &__label {
        color: $col-gold;
        margin-right: 8px;
        font-weight: 900;
    }

    &__row {
        margin-bottom: 40px;

        @include m {
            margin-bottom: 80px
        }

        @include l {
            margin-bottom: 120px;
        }

        &--relative {
            position: relative;
        }
    }
}