.contact-me {
    display: none;
    cursor: pointer;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 0px;
    right:0px;
    z-index: 100;
    transform: scale(0.8);

    @include m {
        display: block;
    }

    & > img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__text,
    &__smile {
        will-change: transform;
        transition: transform .1s;
    }

    &__text {
        transform: rotate(var(--outer-rot));
    }

    &__smile {
        transform: scale(.7) rotate(var(--inner-rot));

        &--static {
            display: block;
        }

        &--hover {
            display: none !important;
        }

        .contact-me:hover & {
            &--static {
                display: none;
            }

            &--hover {
                display: block !important;
            }
        }
    }
}