.contact-me {
    width: 160px;
    height: 160px;
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 100;
    transform: scale(0.8);

    & > img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__text,
    &__smile {
        will-change: transform;
        transition: transform .1s;
    }

    &__text {
        transform: rotate(var(--outer-rot));
    }

    &__smile {
        transform: rotate(var(--inner-rot));
    }
}