.deck {
    margin-bottom: 64px;

    @include l {
        margin-bottom: 80px;
    }

    @include xl {
        margin-bottom: 128px;
    }

    &__heading {
        font: {
            family: $font-serif;
            size: 40px;
        }
        margin-bottom: type-scale(7);

        @include xs {
            font-size: 52px;

            &--inner {
                font-size: 44px;
            }
        }
        
        @include s {
            font-size: type-scale(4);
            margin-bottom: type-scale(6);

            &--inner {
                font-size: type-scale(5);
                margin-bottom: type-scale(7);
            }
        }

        @include ml {
            max-width: 75%;

            &--inner {
                //font-size: type-scale(5);
            }
        }

        @include xl {
            font-size: type-scale(3);

            &--inner {
                font-size: type-scale(4);
            }
        }
    }

    &__text {
        font: {
            family: $font-sans;
            size: type-scale(7);
            weight: 200;
        }

        @include xs {
            font-size: 20px;

            &--inner {

            }
        }

        @include s {
            font-size: 23px;

            &--inner {
                font-size: 20px;
            }
        }

        @include ml {
            max-width: 75%;
            font-size: 26px;

            &--inner {
                font-size: 24px;
            }
        }

        @include xl {
            font-size: type-scale(6);

            &--inner {
                font-size: 26px;
            }
        }
    }

    &__heading,
    &__text {
        // &-fade-in {
        //     opacity: 0;
        // }
    }
}