.deck {
    margin-bottom: 124px;

    &__heading {
        font: {
            family: $font-serif;
            size: 40px;
        }
        margin-bottom: 12px;

        @include xs {
            font-size: 52px;
        }
        
        @include s {
            font-size: 56px;
            margin-bottom: 16px;
        }

        @include m {
            max-width: 75%;
            font-size: 64px;
        }

        @include ml {
            font-size: 72px;
        }

        @include l {
            font-size: 6.85vw;
            margin-bottom: 40px;
        }

        @include xxl {
            font-size: 108px;
        }
    }

    &__text {
        font: {
            family: $font-sans;
            size: 16px;
            weight: 200;
        }

        @include s {
            font-size: 20px;
        }

        @include m {
            font-size: 24px;
        }

        @include l {
            font-size: 1.9vw;
            max-width: 75%;
        }

        @include xxl {
            font-size: 32px;
        }
    }

    &__heading,
    &__text {
        // &-fade-in {
        //     opacity: 0;
        // }
    }
}