.footer {
    background-color: $col-purple__dark;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    overflow: hidden;
    min-height: 320px;
    position: relative;
    z-index: 50;

    @include xs {
        padding-bottom: 32px;
    }

    @include m {
        min-height: 440px;
        padding-bottom: 40px;
        position: static;
        z-index: 0;
    }

    @include l {
        min-height: 480px;
    }

    &__heading-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__heading {
        color: $col-white;
        font: {
            family: $font-serif;
            size: 48px;
        }

        @include m {
            font-size: 56px;
        }
    }

    &__decorative-text {
        font-size: 12px;

        @include s {
            font-size: 14px;
        }

        @include l {
            font-size: 16px;
        }
    }

    &__email {
        display: block;
        background-color: $col-accent;
        color: $col-purple--dark;
        font-size: 40px;
        overflow: hidden;
        padding: 40px 0;
        width: 100%;
        max-width: 100%;
        text-decoration: none;

        @include m {
            font-size: 94px;
        }

        & > div {
            white-space: nowrap;
        }

        span {
            animation: {
                name: marquee;
                duration: 6s;
                iteration-count: infinite;
                timing-function: linear;
            };
            display: inline-block;

            &:after {
                display: inline-block;
                content: '•';
                margin: 0 24px;
            }
        }

        &:hover span {
            animation-play-state: paused;
        }
    }

    &__decoration {
        border-top: 1px solid $col-grid-color;
        display: none;
        position: absolute;
        top: 0;
        left: 40px;
        right: 40px;
        bottom: 0;

        & > div {
            position: relative;
        }

        span {
            display: block;
            border-radius: 50%;
            height: 0px;
            border: 1px solid $col-grid-color;
            position: absolute;
            top: 0;
            left: 0;
        }

        @include m {
            display: flex;
        }
    }

    &__deco-1 {
        flex: 0 0 25%;
        overflow: hidden;

        span {
            width: 200%;
            padding-bottom: 200%;
        }
    }

    &__deco-2 {
        flex: 0 0 25%;
        overflow: hidden;

        span {
            width: 200%;
            padding-bottom: 200%;
        }
    }

    &__deco-3 {
        flex: 0 0 50%;

        span {
            width: 100%;
            padding-bottom: 100%;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
