.icosohedron {
    pointer-events: none;
    z-index: -5;

    @include m {
        z-index: 0;
        opacity: 1;
    }

    &__canvas {
        position: absolute;
        top: 0;
        left: 0;
        //transition: transform .1s;
        will-change: transform;
        transform: translateY(var(--icosohedron-ty));

        @include m {
            
        }
    }
}