.knowledge-exchange {
    &__laptop {
        max-width: 80%;
        margin: 0 auto;
    }

    &__manage-topics,
    &__signup-topics {
        border-radius: $border-radius;
    }

    &__manage-topics {
        width: 75%;
    }

    &__signup-topics {
        width: 50%;
        margin: {
            top: -20%;
            left: 50%;
        }
    }

    &__suggested-widgets {
        position: relative;
        width: 33%;
        transform: translateY(-20%);
    }

    &__suggested-experts,
    &__suggested-articles {
        width: 100%;
    }

    &__suggested-experts {
        position: absolute;
        top: 23.1%;
        left: 0%;
    }

    &__suggested-articles {
        transform: translateX(50%);
    }

    &__profile {
        border-radius: $border-radius;
        width: 75%;
        margin-left: 25%;
    }
}