.knowledge-exchange {
    &__full {
        border-radius: $border-radius;
        @include m {
            max-width: 80%;
            margin: 0 auto;
        }
    }

    &__manage-topics,
    &__signup-topics {
        border-radius: $border-radius;
    }

    &__manage-topics {
        margin-bottom: 40px;

        @include m {
            width: 75%;
            margin-bottom: 0;
        }
    }

    &__signup-topics {
        @include m {
            width: 50%;
            margin: {
                top: -20%;
                left: 50%;
            }
        }
    }

    &__subway-image {
        margin: {
            left: auto;
            right: auto;
        }

        @include m {
            max-width: 75%;
        }

        @include l {
            max-width: 50%;
        }
    }

    &__suggested-widgets {
        position: relative;
        margin-bottom: calc(5% + 40px);
        width: 67%;

        @include m {
            margin-bottom: 0;
            width: 33%;
            transform: translateY(-20%);
        }
    }

    &__suggested-experts,
    &__suggested-articles {
        width: 100%;
    }

    &__suggested-experts {
        position: absolute;
        top: 23.1%;
        left: 0%;
    }

    &__suggested-articles {
        transform: translateX(50%);
    }

    &__profile {
        border-radius: $border-radius;
        width: 100%;

        @include s {
            width: 75%;
            margin-left: 25%;
        }
    }
}