.cols-1 {
    width: 25%;
}

.cols-2 {
    width: 50%;
}

.cols-3 {
    width: 75%;
}

.cols-4 {
    width: 100%;
}

.shift-1 {
    margin-left: 25%;
}

.shift-2 {
    margin-left: 50%;
}

.shift-3 {
    margin-left: 75%;
}