.span-1 {
    width: 25%;
}

.span-2 {
    width: 50%;
}

.span-3 {
    width: 75%;
}

.span-4 {
    width: 100%;
}

.shift-1 {
    margin-left: 25%;
}

.shift-2 {
    margin-left: 50%;
}

.shift-3 {
    margin-left: 75%;
}