.loader {
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 9999;

    &--loaded {
        display: none;
    }

    &__grid {
        align-items: stretch;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        justify-content: space-between;

        & > li {
            background-color: $col-purple--dark;
            border-right: 1px solid $col-purple;
            flex: 1 0;
            transform-origin: 100% 50%;
            transform: scale(1);

            &:first-child,
            &:last-child {
                flex: 0 0 20px;

                @include xs {
                    flex-basis: 32px;
                }

                @include m {
                    flex-basis: 40px;
                }

                @include xxl {
                    flex-basis: calc(
                        calc(100% - #{$bp-xxl - 80}) / 2
                    )
                }
            }
        }
    }
}