:root {
    --masthead-opacity: .99;
}

.masthead {
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    opacity: var(--masthead-opacity);
    transform: translateY(var(--masthead-ty));
    transition: translate .1s;
    will-change: transform, opacity;
    position: relative;
    z-index: 5;

    @include m {
        display: block;
        margin-bottom: 200px;
    }

    &__back {
        align-items: center;
        display: inline-flex;
        position: relative;
        z-index: 10;
        margin-bottom: 24px;
        text-decoration: none;
        font-size: 12px;

        @include s {
            font-size: 14px;
        }

        @include l {
            font-size: 16px;
        }

        &:hover {
            text-decoration: underline;
        }

        svg {
            margin-right: 16px;
        }
    }

    &__top {
    }

    &__bottom {
        @include m {
            align-items: stretch;
            display: flex;
            transform: translateY(0);
            height: auto;
        }
    }

    &__heading {
        font-size: 48px;
        font-family: $font-serif;
        margin-bottom: 24px;
        line-height: .9;

        @include xxxs {
            font-size: 56px;
        }

        @include m {
            font-size: 10vw;
            line-height: 1;
        }

        .section--index & {
            font-size: 20vw;
            padding-right: 32px;
            text-transform: uppercase;
            @include fluid-type($bp-xxxs, $bp-m, 64px, 96px);

            @include m {
                font-size: 12vw;
                text-transform: none;
            }
        }

        em {
            font-style: normal;

            @include m {
                font-style: italic;
            }
        }
    }

    &__text {
        @include m {
            display: block;
            position: static;
            top: auto;
            left: auto;
        }
    }

    &__pill {
        align-items: center;
        border-radius: 999px;
        display: inline-flex;
        transform-origin: 100% 100%;
        transform: rotate(-90deg);
        position: absolute;
        top: 0;
        right: 0;
        white-space: nowrap;
        font-size: 12px;

        @include m {
            border: 1px solid $col-white;
            margin-right: 40px;
            padding: 16px 32px;
            position: static;
            top: auto;
            left: auto;
            transform: none;
            max-width: none;
            font-size: 16px;
        }
    }

    &__timespan {
        color: $col-accent;
        margin-left: 40px;
    }

    &__textline {
        font-size: 12px;
        text-transform: lowercase;

        @include m {
            font-size: 16px;
        }

        &--large {
            font-size: 18px;
            margin-bottom: 8px;

            @include m {
                font-size: 20px;
            }
        }
    }

    &__go-back {
        text-decoration: none;
        font-size: 14px;

        & > div {
            color: $col-white;
            margin-right: 24px;
        }
    }

    &__sub-heading {
        font: {
            style: italic;
            family: $font-serif;
            size: 24px;
        }
        margin-bottom: 32px;

        @include xxxs {
            font-size: 26px;
            margin-bottom: 40px
        }

        @include m {
            margin-bottom: 64px
        }

        @include l {
            margin-bottom: 80px;
        }
    }
}