:root {
    --masthead-opacity: .99;
}

.masthead {
    backface-visibility: hidden;
    margin-bottom: 200px;
    opacity: var(--masthead-opacity);
    transform: translateY(var(--masthead-ty));
    transition: translate .1s;
    will-change: transform, opacity;
    position: relative;
    z-index: 5;

    &__bottom {
        align-items: stretch;
        display: flex;
    }

    &__headline {
        font-family: $font-serif;
        margin-bottom: 24px;
    }

    &__text {

    }

    &__pill {
        align-items: center;
        border-radius: 999px;
        border: 1px solid $col-white;
        display: inline-flex;
        padding: 16px 32px;
        margin-right: 40px;
    }

    &__timespan {
        color: $col-accent;
        margin-left: 40px;
    }

    &__textline {
        text-transform: lowercase;

        &--large {
            font-size: 20px;
            margin-bottom: 8px;
        }
    }

    &__go-back {
        text-decoration: none;
        font-size: 14px;

        & > div {
            color: $col-white;
            margin-right: 24px;
        }
    }
}