.ois-focus-stroke {
    fill: none;
    stroke: $col-green;
    stroke-miterlimit: 10;
    transition: background-color .3s;
}

.ois-supporting-stroke {
    fill: none;
    stroke: $col-pale;
    stroke-miterlimit: 10;
    transition: stroke .3s;

    .ois-light & {
        stroke: $col-purple--light;
    }

    .-white & {
        stroke: #fff;
    }
}

.ois-tertiary-stroke {
    fill: none;
    stroke: $col-purple--light;
    stroke-miterlimit: 10;
    transition: stroke .3s;

    .ois-light & {
        stroke: darken($col-pale, 10%);
    }
}

.ois-focus-shape {
    fill: $col-green;
    transition: fill .3s;
}

.ois-supporting-shape {
    fill: $col-purple--light;
    transition: fill .3s;

    .ois-light & {
        fill: darken($col-pale, 10%);
    }

    .-yellow-bg & {
        fill: palette(light-yellow);
    }
}

.ois-tertiary-shape {
    fill: $col-pale;
    transition: fill .3s;

    .ois-light & {
        fill: $col-purple--light;
    }
}

.ois-translucent {
    opacity: .5;
}

[ois-opacity-in],
.ois-transparent {
    opacity: 0;
}

[ois-no-draw] {
    stroke-dasharray: 99999;
    stroke-dashoffset: 99999;
}

.ois-light-opacity {
    opacity: .3;
}

.ois-morph-frame, .ois-hide {
    display: none;
    opacity: 0;
    fill: none;
}

.ois-low-miter {
    stroke-miterlimit: 1;
}

[data-ois] {
    //opacity: 0;
}

.ois-list {
    display: flex;
    flex-wrap: wrap;

    & > li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        flex: 0 0 50%;

        @include xs {
            flex: 0 0 33.3333%;
        }

        @include s {
            flex: 0 0 25%;
        }

        @include m {
            flex: 0 0 25%;
            padding: 24px;
        }

        @include l {
            flex: 0 0 16.6666%;
            padding: 32px;
        }

        @include xl {
            padding: 40px;
        }
    }

    svg {
        max-width: 120px;
        width: 100%;
    }
}

.eye-candy-mask-1{clip-path:url(#SVGID_2_);}
.eye-candy-mask-2{clip-path:url(#SVGID_4_);}