body {
//    cursor: none;
}

.reticle {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: exclusion;

    &__circle {
        background-color: $col-white;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        position: absolute;
        will-change: transform;
    }

    &__ring {
        border: 2px solid $col-white;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        will-change: transform;
    }
}