// TODO: Break out the non-animated component and have
// revealer extend that one

.revealer {
    &--span-1 {
        width: 25%;
    }

    &--span-2 {
        width: 50%;
    }

    &--span-3 {
        width: 75%;
    }

    &--span-4 {
        width: 100%;
    }

    &--shift-1 {
        margin-left: 25%;
    }

    &--shift-2 {
        margin-left: 50%;
    }

    &--shift-3 {
        margin-left: 75%;
    }

    &__figure {
        align-items: center;
        background-color: $col-accent;
        backface-visibility: hidden;
        display: flex;
        transform: scaleX(0);
        transform-origin: 0% 50%;
        opacity: 0;
        overflow: hidden;
        will-change: opacity, transform;

        &.revealer--no-animation {
            opacity: 1;
            will-change: none;
            transform: none;
        }

        &.revealer--no-fill {
            background-color: transparent;
        }
    }

    &__figure-fill {
        background-color: $col-purple--dark;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleX(0);
        transform-origin: 0% 50%;
        will-change: transform;
        z-index: -1;

        .revealer--no-animation & {
            transform: none;
            will-change: none;
        }
    }

    &__thumbnail {
        position: relative;
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
    }
}