.section {
    &__indicator {
        align-items: center;
        color: $col-gold;
        display: flex;
        margin-bottom: 8px;
        justify-content: space-between;
        font-size: type-scale(8);
        font-weight: 900;

        @include m {
            margin-bottom: 16px;
            justify-content: flex-start;
            font-size: type-scale(7);
        }
    }
}

@keyframes drawInX {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }

}