.transcend {
    h1 {
        margin-bottom: 24px;
    }

    .masthead {
        margin-bottom: 80px;
    }

    &__figure {
        &--first {
            align-items: center;
            display: flex;
            height: 520px;
            justify-content: center;
        }

        &--second {
            align-items: center;
            display: flex;
            height: 300px;
            width: 50%;
            margin-left: 50%;
        }

        &--third {
            align-items: center;
            display: flex;
            height: 520px;
            justify-content: center;
        }
    }

    &__figure-fill {
        &--first {
            background-color: #D1A27D;
        }

        &--second {
            background-color: #ECDFD5;
        }

        &--third {
            background-color: #ECDFD5;
        }
    }

    &__floating-seal {
        display: block;
        position: absolute;
        width: 25%;
        height: auto;
        left: 12.5%;
        top: 50%;
        transform: translateY(-50%);
    }
}

.case-study {

}