.transcend {
    h1 {
        margin-bottom: 24px;
    }

    &__logo {
        display: block;
        max-width: calc(75% - 48px);
        width: 100%;
        margin: 0 auto;

        @include m {
            max-width: 50%;
        }

        @include l {
            max-width: 540px;
        }

        &:nth-child(2) {
            margin-left: 50%;
            margin-right: 0;
        }
    }
}