.two-bards {

    &__logo-container {
        background-color: #9B7D49;
        border-radius: $border-radius;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100.2%;
        padding: 32px 16px;
        max-width: 100%;

        @include s {
            padding: 56px 32px;
        }

        @include m {
            height: 720px;
        }
    }

    &__logo {
        width: 100%;
        max-width: 500px;
    }

    &__video {
        background-color: white;
        border-radius: $border-radius;
        width: 100%;
        padding: 24px 40px;
        position: relative;

        @include m {
            padding: 24px 80px;
            width: 75%;
        }

        @include l {
            padding: 80px 160px;
            width: 50%;
        }

        @include xxl {
            padding: 120px;
        }

        &:after {
            background-color: white;
            border-radius: $border-radius;
            content: '';
            width: 100%;
            height: 34px;
            position: absolute;
            bottom: 0;
            left: 0;

            @include m {
                height: 40px;
            }

            @include l {
                height: 120px;
            }
        }
    }

    &__sketch-video {
        margin-left: 0;

        @include m {
            margin-left: 12.5%;
        }

        @include l {
            margin-left: 12.5%;
        }
    }

    &__refinement-video {
        margin-left: 0;

        @include m {
            margin-left: 12.5%;
        }

        @include l {
            margin-left: 37.5%;
        }
    }

    &__row {
        margin-bottom: 24px;

        @include m {
            margin-bottom: 40px;
        }

        @include l {
            margin-bottom: 80px;
        }
    }
}