// Bandeins Sans Variable

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

$font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-sans: 'Styrene B LC';
$font-serif: 'Ogg';

// $font-sans: 'Muli';
//$font-sans: $font-system;

$font-sans: 'GT Cinetype';

body {
    font-family: $font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h1 {
    font-size: 170px;
    font-family: $font-serif;
}

h2 {

}

em {
    font-style: italic;
}

p {
    line-height: 2;
}

a {
    color: $col-accent;
}