$col-black: #000;
$col-white: #FFF;
$col-grey: #969696;
$col-pale: #BDBF95;
$col-green: #8EECA3;
$col-purple--light: #4C2059;
$col-purple: #140916;
$col-purple--dark: #0B030D;
$col-purple: #1c0f1f;

// $col-white: $col-pale;

$col-accent: $col-green;

$col-bg: $col-purple;
$col-grid-color: rgba($col-white, .075);

$col-bodycopy: $col-pale;

$site-padding: 40px;

$border-radius: 5px;