[data-trigger] {
    cursor: pointer;
}

.work {

    & > li {
        margin-bottom: 20px;

        @include xs {
            margin-bottom: 40px;
        }

        @include m {
            //margin-bottom: 40px;
        }
    }

    &__main {
        display: block;
        text-decoration: none;
    }

    &__thumbnail {
        max-width: 240px;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform:
            translateY(-50%)
            translateX(-50%)
        ;
        z-index: 5;
        backface-visibility: hidden;
        will-change: transform;

        @include xs {
            min-width: 300px;
        }

        @include m {
            transform:
                translateY(
                    calc(-50% + var(--thumbnail-ty))
                )
                translateX(-50%)
            ;
            min-width: 600px;
        }

        &--knowledge-exchange,
        &--champion-windows {
            min-width: 540px;
            max-width: 1200px;
            top: 30%;
            transform:
                translateY(
                    calc( -30% + ( var(--thumbnail-ty) / 2.5 ) )
                )
                translateX(-50%)
            ;

            @include xs {
                top: 50%;
                transform:
                    translateY(
                        calc(-30% + var(--thumbnail-ty))
                    )
                    translateX(-50%)
                ;
            }

        }
    }

    &__item-container {
        background-color: $col-purple--dark;
        display: block;
        position: relative;
        opacity: 0.1;
        backface-visibility: hidden;

        &:hover {
            .work__gradient {
                opacity: .8;
            }
        }
    }

    &__thumbnail-container {
        overflow: hidden;
        height: 340px;
        position: relative;

        @include xs {
            height: 400px;
        }

        @include m {
            height: 470px;
        }
    }

    &__gradient {
        background: linear-gradient(to top,
            rgba($col-purple--dark, 1),
            rgba($col-purple--dark, 0)
        );
        position: absolute;
        top: 120px;
        left: 0;
        bottom: -8px;
        width: 100%;
        z-index: 6;
        opacity: .99;
        backface-visibility: hidden;
        transition: opacity .8s ease-out;

        @include m {
            background: linear-gradient(to top,
                rgba($col-purple--dark, 1),
                rgba($col-purple--dark, .2)
            );
            top: -8px;
            transform: scaleY(1.5);
        }
    }

    &__category {
        color: $col-white;
        margin-bottom: -4px;
        font-size: 12px;
        position: relative;
        z-index: 5;
        opacity: var(--image-opacity);

        @include xxs {
            font-size: 14px;
        }

        @include m {
            font-size: 16px;
            margin-bottom: 4px;
        }

        @include l {
            margin-bottom: 8px;
        }
    }

    &__text {
        background-color: $col-purple--dark;
        padding: 16px 24px;
        position: relative;
        z-index: 10;
        pointer-events: none;

        @include xs {
            padding: 16px 32px 16px;
        }

        @include m {
            background-color: transparent;
            padding: 0;
            text-align: left;
            margin: {
                top: -88px;
                left: 40px;
            }
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        font-family: $font-serif;
        color: $col-accent;
        //font-size: 5.25vw;
        font-size: 34px;
        padding: {
            left: 0;
            right: 0;
        };
        position: relative;
        line-height: 1.3;
        transition: opacity .2s, transform .2s;

        @include xxxs {
            font-size: 40px;
        }

        @include xxs {
            @include fluid-type($bp-xxs, $bp-xs, 56px, 64px);
        }

        @include xs {
            @include fluid-type($bp-xs, $bp-m, 60px, 70px);
        }

        @include m {
            margin-left: 88px;
            opacity: var(--title-opacity);
            transform: translateX(var(--title-ty));
            @include fluid-type($bp-m, $bp-xxl, 80px, 92px);
        }

        .work__main:hover & {
            opacity: 1;
            transform: translateX(0);
            transition: opacity .2s, transform .2s;
        }

        em {
            color: $col-white;
            font-size: 3.5vw;
            position: relative;

            @include m {
                font-size: 1.5vw;
            }
        }

        &:before {
            background-color: $col-accent;
            display: block;
            width: 8px;
            height: 2px;
            position: absolute;
            top: 32px;
            left: -8px;
            transform:
                translateX(var(--title-accent-ty))
                scaleX(var(--title-accent-scale))
            ;
            transform-origin: 0% 50%;
            transition: transform .2s;

            @include m {
                content: '';
                top: 64px;
                left: -88px;
                width: 80px;
                height: 2px;
            }

            .work__main:hover & {
                opacity: 1;
                transform: scaleX(1) translateX(0);
            }
        }
    }

    &__shutters {
        display: flex;
        position: absolute;
        top: -4px;
        left: 0;
        bottom: -4px;
        width: 100%;
        z-index: 8;
        pointer-events: none;
        backface-visibility: hidden;

        li {
            background-color: $col-purple;
            border-right: 1px solid $col-grid-color;
            flex: 0 0 25%;
            transform-origin: 0% 100%;
            will-change: transform;
            backface-visibility: hidden;
        }
    }
}