[data-trigger] {
    cursor: pointer;
}

.work {

    & > li {
        margin-bottom: 20px;
        pointer-events: none;

        &.work--entered {
            pointer-events: auto;
        }

        @include xs {
            margin-bottom: 40px;
        }

        @include m {
            margin-bottom: 80px;
        }
    }

    &__main {
        display: block;
        text-decoration: none;
        perspective: 300px;
    }

    &__thumbnail {
        max-width: 240px;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform:
            translateY(-50%)
            translateX(-50%)
        ;
        z-index: 5;
        backface-visibility: hidden;
        will-change: transform;
        opacity: .99;

        @include xs {
            min-width: 300px;
        }

        @include m {
            transform:
                translateY(
                    calc(-50% + var(--thumbnail-ty))
                )
                translateX(-50%)
            ;
            min-width: 600px;
        }

        &--knowledge-exchange,
        &--champion-windows,
        &--barton-malow {
            min-width: 540px;
            max-width: 1200px;
            top: 30%;
            transform:
                translateY(
                    calc( -35% + ( var(--thumbnail-ty) / 2.5 ) )
                )
                translateX(-50%)
            ;

            @include xs {
                top: 50%;
                transform:
                    translateY(
                        calc(-40% + var(--thumbnail-ty))
                    )
                    translateX(-50%)
                ;
            }

        }
    }

    &__item-container {
        background-color: $col-purple--dark;
        display: block;
        position: relative;
        opacity: 0.1;
        backface-visibility: hidden;
        transition: background-color .3s;

        &:before {
            background-color: rgba($col-accent, 1);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 200;
            display: none;
        }
    }

    &__thumbnail-container {
        overflow: hidden;
        height: 320px;
        position: relative;

        @include xs {
            height: 480px;
        }

        @include m {
            height: 680px;
        }
    }

    &__category {
        color: $col-white;
        margin-bottom: -4px;
        font-size: 10px;
        position: relative;
        z-index: 5;
        opacity: var(--image-opacity);

        @include xxs {
            font-size: 14px;
        }

        @include m {
            font-size: 16px;
            margin-bottom: 4px;
        }

        @include l {
            margin-bottom: 8px;
        }
    }

    &__text {
        backface-visibility: hidden;
        background-color: $col-purple--dark;
        padding: 16px 24px;
        position: relative;
        z-index: 50;
        pointer-events: none;
        transform-origin: 50% 0%;
        opacity: 0.01;

        @include xs {
            padding: 16px 32px 16px;
        }

        @include m {
            background-color: transparent;
            display: inline-block;
            padding: 0;
            text-align: left;
            margin: {
                top: -88px;
                left: 40px;
            }
            position: relative;

            &:before {
                background-color: $col-purple;
                content: '';
                position: absolute;
                top: -24px;
                bottom: 0;
                left: -40px;
                right: -40px;
                transform: scaleX(1);
                transform-origin: 100% 100%;
                transition: transform .3s ease-out;
                opacity: .95;

                .work__item-container:hover + & {
                    transform: scaleX(1);
                    transform-origin: 0% 0%;
                }
            }
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        font-family: $font-serif;
        color: $col-accent;
        //font-size: 5.25vw;
        font-size: 34px;
        padding: {
            left: 0;
            right: 0;
        };
        position: relative;
        line-height: 1.3;
        transition: opacity .2s, transform .1s;

        @include xxxs {
            font-size: 40px;
        }

        @include xxs {
            @include fluid-type($bp-xxs, $bp-xs, 56px, 64px);
        }

        @include xs {
            @include fluid-type($bp-xs, $bp-m, 60px, 70px);
        }

        @include m {
            margin-left: 88px;
            opacity: var(--title-opacity);
            transform: translateX(var(--title-ty));
            @include fluid-type($bp-m, $bp-xxl, 80px, 92px);
        }

        .work__main:hover & {
            opacity: 1;
            transition: opacity .2s;
        }

        em {
            color: $col-white;
            font-size: 3.5vw;
            position: relative;

            @include m {
                font-size: 1.5vw;
            }
        }

        &:before {
            background-color: $col-accent;
            display: block;
            width: 8px;
            height: 2px;
            position: absolute;
            top: 32px;
            left: -8px;
            transform:
                translateX(var(--title-accent-ty))
                scaleX(var(--title-accent-scale))
            ;
            transform-origin: 0% 50%;
            transition: transform .2s;

            @include m {
                content: '';
                top: 64px;
                left: -88px;
                width: 80px;
                height: 2px;
            }

            .work__main:hover & {
                opacity: 1;
                transform: scaleX(1) translateX(var(--title-accent-ty));
            }
        }

        & > div {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: calc(100% - 16px);
                border-bottom: 2px solid $col-accent;
                transform-origin: 100% 100%;
                transform: scaleX(0);
                transition: transform .3s ease-out;
                display: none;

                @include m {
                    display: block;
                }
            }
        }
    }

    &__shutters {
        display: flex;
        position: absolute;
        top: -4px;
        left: 0;
        bottom: -4px;
        width: 100%;
        z-index: 8;
        pointer-events: none;
        backface-visibility: hidden;

        li {
            background-color: $col-purple;
            flex: 0 0 25%;
            transform-origin: 0% 100%;
            will-change: transform;
            backface-visibility: hidden;
        }
    }
}